img{
    width: 300px;
    margin: 100px; ;
}

body{
    background-color: aliceblue ;
}

h1{
    text-align: center;
    font-size: 30px;
    color: black;
}

p{
    text-align: center;
    font-size: 25px;
    color: black;
}

h2{
    text-align: center;
    font-size: 30px;
    color: black;
}

ol{
    font-size: 25px;
    color: aliceblue;
}

li{
    color: black;
}

.cabeçalho{
    background-color: crimson;
}

.bigodon{
    width: 170px;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lista-cabeçalho{
    display: flex;
    margin-left: 250px;
}
.item{
color: black;
list-style: none;
text-transform: uppercase;
padding: 5px;
}