img{
    width: 300px;
    margin: 100px; ;
}

body{
    background-color: aliceblue ;
}

h1{
    text-align: center;
    font-size: 70px;
    color: black;
}

p{
    text-align: center;
    font-size: 25px;
    color: black;
}

h2{
    text-align: center;
    font-size: 30px;
    color: black;
}

ol{
    font-size: 25px;
    color: aliceblue;
}

li{
    color: black;
}


.bigodon{
    width: 170px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    background: crimson;
    padding: 20px 0;
    }
    
    nav {
        position: absolute;
        top: 110px;
        right: 0px;
    }
    
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
    color: #C78C19;
    text-decoration: underline;
    }

    .caixa {
        width: 940px;
        position: relative;
        margin: 0 auto;
    }